################################################################################
#                  Homemade HTML Snippets
################################################################################

snippet html "HTML5 Skeleton" b
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>$1</title>$2
</head>
<body>
    $0
</body>
</html>
endsnippet

snippet css "CSS Include" b
<link rel="stylesheet" href="${1:css/style.css}" type="text/css">
endsnippet
